/* Styles for main bar headings. */

@import 'general';
@import 'mixins';

/* Structure: sidebar */
#onebar {
  clear: both;
  padding: 0 20px 0 50px;
  article {
    padding: 1em;
  }
  #leftpage {
    width: 65%;
    float: left;
  }
  &.rightbar aside {
    width: 30%;
    float: right;
    color: #f9f8f6;
    .notebox { @include x-box(#2774ba url(../images/icon_star_light.png) no-repeat 150px center, None, 30px) }
    .newsbox { @include x-box(#394145, None, 30px) }
    .infobox { @include x-box(#f2f1ed, #4c4c4c, 30px) }
  }
  &.leftbar { /* Structure: one bar on left */
    clear: both;
    padding: 0;
    height: 100%;
  }
  #rightpage {
    width: 80%;
    float: right;
    background: #fff;
    min-height: 1020px;
  }
  &.leftbar {
    aside {
      width: 20%;
      float: left;
      border-right: 1px solid #fff;
      height: 100%;
      h1 {
        color: $secondary-color;
        margin-bottom: 0;
      }
      h2 {
        color: $secondary-color;
        text-transform: uppercase;
      }
      h3 a {
        font-size: $text-small;
        text-decoration: none;
        font-weight: 500;
      }
      h4 {
        color: $secondary-color;
        text-transform: uppercase;
      }
    }
    &.wide {
      #rightpage {
        width: 70%;
      }
      aside {
        width: 30%;
      }
    }
  }
}