/* This is a partial. */

/* Styles for navigation in sidebar. */
#nav-container {
  min-width: 222px;
  h2 {
    padding: 0 1em;
  }
  li {
    list-style: none;
  }
  li a {
    text-decoration: none;
    color: $secondary-color;
    cursor: pointer;
  }
  .nav > li > a {
    padding: 0.4em 1em;
  }
  ul ul {
    li {
      a {
        margin-left: 1.5em;
        font-weight: 300;
        &:hover, &focus {
          background: None;
          font-weight: 500;
        }
      }
      &:hover, &:focus {
        background: #e4ecf0;
      }
    }
    ul li {
      a {
        margin-left: 2.5em;
        font-weight: 300;
        font-style: italic;
        font-size: 0.9em;
      }
      &:hover, &:focus {
        background: none;
      }
    }
  }
  li a {
    &:hover, &:focus {
      background: #e4ecf0 url(../images/subnav_bg.png) right center no-repeat;
      font-weight: 500;
    }
  }
}

.opened {
  background: #e4ecf0 url(../images/subnav_bg.png) right center no-repeat;
  font-weight: 500;
}

/* Styles for active hovers in sidebar.  */
#nav-container {
  li.active ul li a:hover {
    background: none;
    font-weight: 500;
  }
  li.active {
    background: #e4ecf0 url(../images/subnav_bg.png) right center no-repeat;
  }
  ul ul li.active {
    background: none;
  }
  li.active {
    a {
      font-weight: 500;
    }
    ul li a {
      font-weight: 300;
    }
  }
}