$navbar-default-link-hover-bg: darken($navbar-default-bg, 3%);

#presidium-navigation {
  position: relative;

  @media (max-width: $grid-float-breakpoint) {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    margin-left: -15px;
    margin-right: -15px;
  }

  nav {
    background-color: $navbar-default-bg;

    @media (min-width: $grid-float-breakpoint) {
      position: fixed;
      margin: 0 -15px;
      height: 100vh;
      width: 260px;
      overflow: auto;
      border: 0;
    }

    .navbar-header {
      float: none;

      .brand {
        float: none;
        margin: 0 auto;
        height: auto;
        padding: 0px;

        img {
          display: block;
          float: none;
          margin: 0 auto;
          width: 100%;

          @media (max-width: $grid-float-breakpoint) {
            display: none;
          }
        }
      }

      .brand-name {
        color: $navbar-default-brand-color;
        display: block;
        padding: 10px 5px 20px 5px;
        margin: 0;
        text-transform: uppercase;
        text-align: center;

        @media (max-width: $grid-float-breakpoint) {
          float: left;
          max-width: 80%;
          padding: 0 10px;
          font-size: 14px;
          @include navbar-vertical-align(14px);
        }
      }

      .toggle {
        @media (min-width: $grid-float-breakpoint) {
          display: none;
        }

        position: relative;
        float: right;
        margin-right: 15px;
        padding: 9px 10px;
        @include navbar-vertical-align(34px);
        background-color: transparent;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        border: 1px solid transparent;
        border-radius: $border-radius-base;

        &:focus {
          outline: 0;
        }

        &:hover {
          background-color: $navbar-default-link-hover-bg;
        }

        .icon-bar {
          background-color: $navbar-default-brand-color;
          display: block;
          width: 22px;
          height: 2px;
          border-radius: 1px;
        }
        .icon-bar + .icon-bar {
          margin-top: 4px;
        }
      }
    }

    .navbar-items {
      width: 100%;
      border-top: 1px solid $navbar-default-border;
      padding: 10px 15px;
      margin-right: 0;
      margin-left: 0;

      @media (max-width: $grid-float-breakpoint) {
        &.expanded {
          display : block;
          max-height: calc(100vh - 55px);
          overflow-y: auto;
        }
        display: none;
      }
    }

    .dropdown {
      margin: 2px 0 0;
      display: none;

      &.expanded {
        display: inherit;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      float: none;
      margin: 0 -15px;

      li {
        cursor: pointer;
        float: none;
        position: relative;
        display: block;

        &.in-section {
          .level-one {
            color: $navbar-default-link-hover-color;
            a {
              color: $navbar-default-link-hover-color;
              cursor: default;
              font-weight: bold;
            }
          }
        }

        .in-section {
          .level-two {
            color: $navbar-default-link-hover-color;
            a {
              color: $navbar-default-link-hover-color;
            }
          }
        }
      }
    }

    .menu-row {
      display: flex;
      padding: 5px 10px;

      &.level-two {
        padding-left: 30px;
      }
      &.level-three {
        padding-left: 50px;
      }
    }

    .menu-expander {
      width: 15px;

      .glyphicon {
        margin-right: 5px;
        font-size: 0.8em;
      }
    }

    .menu-title {
      flex: 1;
      @media (max-width: $grid-float-breakpoint) {
        font-size: 16px;
      }

      a {
        color: $navbar-default-link-color;
        &:hover, &:focus {
          color: $navbar-default-link-hover-color;
          text-decoration: none;
        }
      }

      .on-article {
        color: $navbar-default-link-hover-color;
      }
    }

    .expanded {
      .menu-row {
        color: $navbar-default-link-color;
      }
    }

  }
}
