//.presidium-container {
//  @extend .container-fluid;
//  margin-left: 0px;

#presidium-container {
  @media (min-width: $grid-float-breakpoint) {
    margin-left: 260px;
  }

  #presidium-content {
    position: relative;
    padding: 10px 20px;
    margin-top: 80px;

    @media (min-width: $grid-float-breakpoint) {
      position: inherit;
      margin-top: 0;
      padding: 60px 100px;
    }
  }

  // Articles
  #presidium-content {
    .page-title {
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0px;
    }

    hr {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    section {

      #no-content-warning {
        display: none;
      }

      span.anchor {
        display: block;
        position: relative;
        top: -70px;
        visibility: hidden;

        @media (min-width: $grid-float-breakpoint) {
          top: -10px;
        }
      }

      .article-title {
        display: flex;
        align-items: center;

        &.edit {
          h1, h2, h3, h4, h5, h6 {
            display: flex;
            align-items: center;

            &:hover {
              cursor: pointer;

              .article-edit-menu {
                pointer-events: all;
                opacity: 1;
              }
            }
          }
        }

        .permalink {
          display: none;
          margin-left: 12px;
          margin-top: 14px;
        }
        &:hover > .permalink {
          display: block;
          > a {
            text-decoration: none;
          }
        }
      }

      .category {
        a > span {
          padding-left: 10px;
          color: $link-color;
          font-size: 80%;
        }
      }

      .article-header {
        width: 100%;
        padding: 10px 0;
        > div {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          &:first-child {
            margin-left: 0px;
          }
          .label {
            line-height: 15px;
          }
        }

        .article-role {
          float: right;
          .label {
            background-color: $gray-light;
          }
        }
      }

      .article {
        .article-edit-menu {
          min-width: 200px;
          display: flex;
          flex-direction: column;
          margin-left: 15px;
          opacity: 0;
          transition: opacity 0.3s;
          pointer-events: none;
        }

        .dropdown-item {
          display: flex;
          align-items: center;
          flex: 1;

          &:hover {
            text-decoration: none;
          }
        }

        .edit-icon {
          background-image: url('../svg/edit-icon.svg');
          fill: #9a9a99;
          width: 16px;
          height: 16px;
        }

        .label {
          flex: 1;
          font-style: italic;
          margin-left: 0px;
          font-size: 0.5em;
          font-weight: normal;
          color: #9a9a99;
          display: flex;
        }
      }

      article {
        margin-top: 20px;
        iframe {
          box-shadow: 0px 0px 10px #777;
          border: None;
          height: 900px;
          width: 110%;
        }
      }
    }
    article {
      h1, h2, h3, h4, h5, h6 {
        text-transform: none;
      }
      h1, .h1 {
        font-size: $font-size-h3;
      }
      h2, .h2 {
        font-size: $font-size-h4;
      }
      h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        font-size: $font-size-h5;
      }
    }
  }

  footer {
    .spacer {
      height: 70vh;
    }
    left: 0px;
    text-align: center;
    width: 100%;
  }

  table {
    @extend .table, .table-striped, .table-bordered;
  }

  blockquote {
    @extend .well;
    font-size: inherit;
  }

  // Unordered and Ordered lists
  ul,
  ol {
    margin-top: 0;
    margin-bottom: ($line-height-computed / 2);
    ul,
    ol {
      margin-bottom: $line-height-computed / 4;
    }
  }
}



