#presidium-content {
  position: relative;
  padding: 10px 20px;
  margin-top: 80px;

  @media (min-width: $grid-float-breakpoint) {
    position : inherit;
    margin-top: 0;
    padding: 60px 80px;
  }

}

// Articles
#presidium-content {
  .page-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0px;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  section {

    span.anchor {
      display: block;
      position: relative;
      top: -70px;
      visibility: hidden;

      @media (min-width: $grid-float-breakpoint) {
        top: -10px;
      }
    }

    > h2 {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .article-status {
      margin-top:20px;
      .label {
      }
    }

    .article-filter {
      float: right;
      margin-left: 5px;
      margin-top: 5px;
      .label {
        line-height: 15px;
        background-color: $gray-light;
      }
    }

    article {
      margin-top : 20px;
    }
  }
  article {
    h1, h2, h3, h4, h5, h6 {
      text-transform: none;
    }
    h1, .h1 { font-size: $font-size-h3; }
    h2, .h2 { font-size: $font-size-h4; }
    h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-size: $font-size-h5; }
  }
}

footer {
  .spacer {
    height: 40vh;
  }
  left: 0px;
  text-align: center;
  width: 100%;
}

table{
  @extend .table, .table-striped, .table-bordered;
}


blockquote {
  @extend .well;
  font-size: inherit;
}



