<div class="article" data-roles="{{article-roles}}">
    <span class="anchor" id="{{article-slug}}" data-id="{{article-id}}"></span>
    {% if article != nil %}
    <div class='article-title {% if site.repo.edit %} edit {% endif %}'>
        <h2>
            {{ article-title }}
            {% include /partials/edit-link.html %}
        </h2>
        <div class="permalink"><a href="{{article-url}}" title="Permalink to this article">&#182;</a></div>
    </div>

    {% if site.show.author and article.author %}
    <div class="article-header">
        {% include author.html %} {% include status.html %} {% include roles.html %}
    </div>
    {% endif %}

    <article>{{ article.content }}</article>

    {% else %}
    Article not found: {{article-id}}
    {% endif %}
    <hr/>
</div>
