<!--header-->
<section id="page-head">
	<!--logo-->
	<!--<header id="logo">-->
			<!--<a href="{{ portalurl }}"><img src="{{ site.baseurl }}/assets/local/images/company_logo.png" alt=""></a>-->
	<!--</header>-->
	<!--menu-->
	<!-- <nav id = "topnav">
	    <ul>
	        <li>
	            <a href="{{ portalurl }}/products/">PRODUCTS</a>
	            <a href="{{ portalurl }}/classes/">CLASSES</a>
	            <a href="{{ portalurl }}/events/">EVENTS</a>
	            <a href="{{ portalurl }}/pangaea-onboarding/">ONBOARDING</a>
	        </li>
	    </ul>
	</nav> -->
</section>
