<!--header-->
<section id="page-head">
	<!--logo-->
	<header id="logo">
			<a href="{{ portalurl }}"><img src="{{ site.baseurl }}/assets/shared/images/logo_code_walmart_labs.png" alt=""></a>
	</header>
	<!--menu-->
	<nav id = "topnav">
	    <ul>
	        <li>
	            <a href="{{ portalurl }}/products/">PRODUCTS</a>
	            <a href="{{ portalurl }}/classes/">CLASSES</a>
	            <a href="{{ portalurl }}/events/">EVENTS</a>
	            <a href="{{ portalurl }}/pangaea-onboarding/">ONBOARDING</a>
	        </li>
	    </ul>
	</nav>		
</section>
