{% if site.show.status == true or site.show.status == nil %}
    {% if article.status %}
        <div class="article-status">
        {% case article.status %}
        {% when 'draft' %}
            <span title="Article Status" class="label label-default status-draft">Draft</span>
        {% when 'review' %}
            <span title="Article Status" class="label label-primary status-review">Review</span>
        {% when 'published' %}
            <span title="Article Status" class="label label-success status-published">Published</span>
        {% when 'retired' %}
            <span title="Article Status" class="label label-warning status-retired">Retired</span>
        {% endcase %}
        </div>
    {% endif %}
{% endif %}