<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css"/>
</head>
<body>
    {% capture baseurl %}{{ site.baseurl }}{% endcapture %}
    <div class="container-fluid">
        <div id="header" class="row">
            {% include header.html %}
        </div>
        <div class="row">
            <div id="section-navigation" class="col-md-2">
                {% include navigation.html %}
            </div>
            <div class="col-md-10">
                {{ content }}
            </div>
        </div>
        <div class="row">
            {% include footer.html %}
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>

