---
title: "Updates"
permalink: /updates/
layout: container
---

<h1>{{ page.title | upcase }}</h1>

{% for update in site.updates reversed %}
    <span id="{{ update.title | slugify }}" class="anchor"></span>
    <h1>{{ update.title }}</h1>
    <article>
        <div class="article-meta">
            <a href="{{ page.github-url }}{{ update.author }}" class="post-author">
                <img src="{{ page.github-url }}{{ update.author }}.png" class="avatar" alt="{{ update.author }} avatar" width="24" height="24">
                {{ update.author }}
            </a>
            <span class="date">{{update.publication-date}}</span>
        </div>
        <div class="article-content">
            {{ update.content }}
        </div>
    </article>
    <hr />
{% else %}
    {% include empty-article.html %}
{% endfor %}