---
title: "Updates"
permalink: /updates/
layout: container
---

{% for article in site.updates reversed %}
    <span id="{{ article.title | slugify }}" class="anchor"></span>
    {% include status.html %}
    <h2>{{ article.title }}</h2>
    <article>
        <div class="article-meta">
            <a href="{{ page.github-url }}{{ article.author }}" class="post-author">
                <img src="{{ page.github-url }}{{ article.author }}.png" class="avatar" alt="{{ article.author }} avatar" width="24" height="24">
                {{ article.author }}
            </a>
            <span class="date">{{article.publication-date}}</span>
        </div>
        <div class="article-content">
            {{ article.content }}
        </div>
    </article>
    <hr />
{% else %}
    {% include empty-article.html %}
{% endfor %}