---
title: "Tools"
author: "presidium"
permalink: /tools/
---

<h1>{{ page.title | upcase }}</h1>

{% for tool in site.tools %}
<h2 id="{{ tool.title | slugify }}">{{ tool.title }}</h2>
<article>
      <div class="article-meta">
          {% if practice.author %}
              <a href="{{ page.github-url }}{{ scenario.author }}" class="post-author">
                  <img src="{{ page.github-url }}{{ scenario.author }}.png" class="avatar" alt="{{ scenario.author }} avatar" width="24" height="24">
                  {{ scenario.author }}
              </a>
          {% endif %}
          <span class="date">{{scenario.publication-date}}</span>
      </div>
      <div class="article-content">
          {{ tool.content }}
      </div>
  </article>
  <hr/>
{% else %}
{% include empty-article.html %}
{% endfor %}