<div class="article-edit-menu">
    {% for item in site.article-edit-dropdowns %}
    {% if item.repo_url %}
    <a class="dropdown-item" href='{{item.repo_url| append: article.path}}'>
        <div class="{{ item.icon_class }}"></div>
        <div class="label">{{ item.label }}</div>
    </a>
    {% else %}
    <a class="dropdown-item" href='{{item.href}}'>
        <div class="{{ item.icon_class }}"></div>
        <div class="label">{{ item.label }}</div>
    </a>
    {% endif %}
    {% endfor %}
</div>


