---
title: "Typical Scenarios"
permalink: /scenarios/
layout: container
---

{% for scenario in site.scenarios %}
    <span id="{{ scenario.title | slugify }}" class="anchor"></span>
    <h2>{{ scenario.title }}</h2>
    {% include status.html %}
    <article>
        <div class="article-meta">
            {% if practice.author %}
                <a href="{{ page.github-url }}{{ scenario.author }}" class="post-author">
                    <img src="{{ page.github-url }}{{ scenario.author }}.png" class="avatar" alt="{{ scenario.author }} avatar" width="24" height="24">
                    {{ scenario.author }}
                </a>
            {% endif %}
          <span class="date">{{scenario.publication-date}}</span>
        </div>
        <div class="article-content">
          {{ scenario.content }}
        </div>
    </article>
    <hr/>
{% else %}
    {% include empty-article.html %}
{% endfor %}