---
title: "Typical Scenarios"
permalink: /scenarios/
layout: container
---

{% for article in site.scenarios %}
    <span id="{{ scenario.title | slugify }}" class="anchor"></span>
    <h2>{{ article.title }}</h2>
    {% include status.html %}
    <article>
        <div class="article-meta">
            {% if practice.author %}
                <a href="{{ page.github-url }}{{ article.author }}" class="post-author">
                    <img src="{{ page.github-url }}{{ article.author }}.png" class="avatar" alt="{{ article.author }} avatar" width="24" height="24">
                    {{ article.author }}
                </a>
            {% endif %}
          <span class="date">{{article.publication-date}}</span>
        </div>
        <div class="article-content">
          {{ article.content }}
        </div>
    </article>
    <hr/>
{% else %}
    {% include empty-article.html %}
{% endfor %}