<!--header-->
<section id="page-head">
	<!--logo-->
	<header id="logo">
			<a href="/assets/index.html"><img src="/assets/images/logo_code_walmart_labs.png" alt=""></a>
	</header>
	<!--menu-->
	<nav id="topnav">
		<ul>
			<li class="current"><a href="/assets/products.html" title="">PRODUCTS</a></li>
			<li><a href="/assets/classes.html" title="">CLASSES</a></li>
			<li><a href="/assets/walmart.html" title="">EVENTS</a></li>
			<li><a href="/assets/pangaea.html" title="">PANGAEA ONBOARDING</a></li>
			<li><a href="/assets/#" title="">#</a></li>
		</ul>
	</nav>
</section>
