<!--left sub navigation-->
<nav id="sidenav">
    <h2>DOCUMENTATION</h2>
    <ul>
        {% for section in site.data.sections %}
        {% assign groups = site[section.collection] | group_by: "category" %}
	
        <li>
            <a href="{{ baseurl }}{{ section.path }}">{{ section.name }}</a>
            <ul>
                {% for group in groups %}	
				{% assign articles = site[section.collection] | where: "category" , group.name %}
                    <li>
                        <a href="{{ baseurl }}{{ section.path }}#{{ group.name | slugify }}">{{ group.name }}</a>
						<ul>
			    			{% for article in articles %}
				    			<li>
				         			<a href="{{ baseurl }}{{ section.path }}#{{ article.title | slugify}}">{{ article.title }}</a>
			      				</li>
				 			{% endfor %}
						</ul>
                    </li>
                {% endfor %}
            </ul>	
			
        </li>
        {% endfor %}
    </ul>
</nav>
