<nav class="navigation-items">
		<h2>Version</h2>
		<div id="bar-select"><select><option>V2</option></select></div>
    <h2>DOCUMENTATION</h2>
    <ul>
        {% for section in site.data.sections %}
        {% assign groups = site[section.collection] | group_by: "category" %}
        <li>
            <a href="{{ baseurl }}{{ section.path }}">{{ section.name }}</a>
            <ul>
                {% for group in groups %}
                    {% if group.name.size > 0 %}
                        <li>
                            <a href="{{ baseurl }}{{ section.path }}">{{ group.name }}</a>
                        </li>
                    {% else %}
                        {% for item in group.items %}
                            <li>
                                <a href="{{ baseurl }}{{ section.path }}#{{ item.id }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</nav>
