{% assign portalurl = site.portalurl %}
{% assign baseurl = site.baseurl %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/shared/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/shared/css/style.css" type="text/css" media="screen"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,500' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/shared/js/html5.js"></script>
    <![endif]-->

    {% include head.html %}
</head>
<body class="products">
<div id="holder" class="mainholder">

    {% include header.html %}

    <!--CONTENT with sidebar left-->
    <section id="onebar" class="leftbar">

        <!--CONTENT right-->
        <section id="rightpage">
            <article id="{{ page.title | slugify }}" class="reference">
                {{ content }}
            </article>
        </section>

        <aside>
            <!--Product Logo-->
            <article>
                {% if site.logo %}
                <a href="index.html" class="sublogo"><img src="{{ site.baseurl}}{{ site.logo }}" alt=""></a>
                {% else %}
                <h1>{{ site.name | upcase }}</h1>
                {% endif %}
            </article>
            <!-- Navigation -->
            <div id="nav-container">
            </div>
        </aside>

    </section>

    <!-- Footer -->
    {% include footer.html %}
</div>

<!-- Components -->
<script src="{{ site.baseurl }}/assets/shared/js/presidium.js"></script>
<script>
    window.presidium.menu.load('nav-container');
</script>

</body>
</html>
